booking-cancellation-.json
{
  "createdAt": "2025-07-09T16:09:36.405Z",
  "updatedAt": "2025-07-09T16:20:41.000Z",
  "id": "4uL5AuoG97PgAhQ7",
  "name": "Booking cancellation",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eb64f736-26bd-4466-b68d-729de88b58ca",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "fd7ac15f-56df-4d6d-bb1e-b7088d12dfeb",
      "name": "Webhook",
      "webhookId": "eb64f736-26bd-4466-b68d-729de88b58ca"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Want to cancel the booking with booking details as follows:\n\nDate is `{{ $json.body.args.date }}`\nTime is `{{ $json.body.args.time }}`\nCancel Type is `{{ $json.body.args.cancel_type }}`\nuser_number is `{{ $json.body.args.user_number }}`",
        "options": {
          "systemMessage": "You are a helpful assistant, who cancels appointments on cal.com platform API and updates the status of the booking.\n\nExample of Cancel Request:\n\nPOST https://api.cal.com/v2/bookings/<<booking_id>>/cancel\nContent-Type: application/json\n\n\nResponse from the cal.come tool check for the status field and use that as the success or failure for the cancellation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "d62c951f-c726-46ac-849b-401f82145cef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ Date.now() + Math.floor(Math.random() * 10000);}}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        240
      ],
      "id": "1107a75c-4a8b-444e-981b-d8ff52a46fba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        240
      ],
      "id": "000915e2-0358-4d42-85c0-adf251e4003b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z9tGwUwFTMTG2mbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"cancellationReason\": \"Customer no longer needs the appointment.\",\n  \"cancelSubsequentBookings\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        520,
        220
      ],
      "id": "472491e3-5ed0-406f-9edc-d57a144449aa",
      "name": "Cal.com Cancel Booking API call",
      "credentials": {
        "calApi": {
          "id": "PJjSWBqJhPleaWoW",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        580,
        0
      ],
      "id": "0cb5d98a-355d-498b-9f04-52076151fa90",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cal.com Cancel Booking API call": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eca62f69-b54e-443c-82a8-56e2a719400a",
  "triggerCount": 1,
  "tags": []
}