create,-update,-and-retrieve-a-record-from-filemaker-.json
{
  "createdAt": "2025-06-11T18:55:58.892Z",
  "updatedAt": "2025-06-12T17:39:09.000Z",
  "id": "J9zTwlo7k7LLUFBZ",
  "name": "Create, update, and retrieve a record from FileMaker",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Input:  {{ $json.chatInput || $json.message.text || $json.query.request}}.\n\nCurrent time: {{ $now.toLocal().toString() }}\n  ",
        "options": {
          "systemMessage": "You are a helpful assistant. Look at the user query and you need to find answers to that from the buffer or tools available with you. \n\nYou will trigger FileMaker tool to find the user data if it doesn't exist in the buffer/memory.\n\nYour reply to any query has to be precise of what asked and don't need to ask users for more questions.",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -780,
        140
      ],
      "id": "e89ac6b6-d843-4657-b957-ec074de37a04",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1160,
        280
      ],
      "id": "290d4218-f8a2-4e08-a29d-c1b73b625ad1",
      "name": "When chat message received",
      "webhookId": "aab83bdd-6f44-4324-a557-0fb50a8b4f4e"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -860,
        440
      ],
      "id": "c11e4457-51ad-4735-a91d-21e6487e74a4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z9tGwUwFTMTG2mbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "action": "find",
        "layout": "Patient Input",
        "getPortals": true,
        "portals": [
          "Appointments",
          []
        ],
        "responseLayout": "Patient Input",
        "queries": {
          "query": [
            {
              "fields": {
                "field": [
                  {
                    "name": "FullName",
                    "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.filemakerTool",
      "typeVersion": 1,
      "position": [
        -300,
        400
      ],
      "id": "5c8af2e8-740c-4e2a-9c3e-fea22cd4a27f",
      "name": "FileMaker4",
      "credentials": {
        "fileMaker": {
          "id": "olW7Z34cJ8ZnzTko",
          "name": "FileMaker account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1160,
        80
      ],
      "id": "f8162a23-29f3-461b-9027-ccea4ce72c28",
      "name": "Telegram Trigger",
      "webhookId": "34894733-ad4a-428b-b981-c643de5dbc8a",
      "credentials": {
        "telegramApi": {
          "id": "GiaKtmB9I8LOH1r6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9ed0a540-065a-4e7f-a5a6-eab49dddb597",
      "name": "Telegram",
      "webhookId": "646d4a6d-c508-4686-b629-4f166f9eccfa",
      "credentials": {
        "telegramApi": {
          "id": "GiaKtmB9I8LOH1r6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message?.chat.id || \"test\" }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -680,
        420
      ],
      "id": "eaabbc76-8191-47ce-a66a-cf592464682c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "action": "find",
        "layout": "Patient Input",
        "getPortals": "",
        "responseLayout": "Patient Input",
        "queries": {
          "query": [
            {
              "fields": {
                "field": [
                  {
                    "name": "FullName",
                    "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `You need to find the IDReferral from the user data tool ID`, 'string') }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.filemakerTool",
      "typeVersion": 1,
      "position": [
        -440,
        400
      ],
      "id": "2e835631-8be2-4e56-a04d-f06267db67dd",
      "name": "Appointment",
      "credentials": {
        "fileMaker": {
          "id": "olW7Z34cJ8ZnzTko",
          "name": "FileMaker account"
        }
      }
    },
    {
      "parameters": {
        "path": "7ac79dc1-e636-42d7-8c3f-91a1f254c31a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1160,
        520
      ],
      "id": "5859d034-d79c-495f-b64a-933de41ad9fc",
      "name": "Webhook",
      "webhookId": "7ac79dc1-e636-42d7-8c3f-91a1f254c31a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        240
      ],
      "id": "ab670950-caa3-43f4-a468-4b62f5fe15ed",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FileMaker4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "92a3298e-1b13-474c-9cb2-c5e385a53887",
  "triggerCount": 3,
  "tags": []
}