dental-clinic-|-metasmile-.json
{
  "createdAt": "2025-06-12T17:42:23.438Z",
  "updatedAt": "2025-06-16T16:36:20.000Z",
  "id": "TMZWFirMxen8WE7C",
  "name": "Dental Clinic | Metasmile",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "379bd5d1-e84b-400d-9e3b-c774a5a60058",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -100,
        380
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Z9tGwUwFTMTG2mbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "**AI Agent 👇**\nThe Prompt is already there, You just need to setup the prompt user message with your text message.",
        "height": 141,
        "width": 194,
        "color": 7
      },
      "id": "4aacbf25-1f3d-45f7-b9a9-a8a75dfb477c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Chat Model ☝️**\nAdd your Open Ai API Key ",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "id": "45954450-d719-471e-ac9a-c358634ff5af",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Gpoogle Calendar ☝️**\nConnect to Google Calendar",
        "height": 80,
        "width": 190,
        "color": 7
      },
      "id": "b3bfc166-3624-4f53-9501-008fb1595daa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Google Sheets ☝️**\nConnect to Google Sheets",
        "height": 80,
        "width": 190,
        "color": 7
      },
      "id": "d36aed2b-7164-42c5-abba-5ae072086dee",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "metasmile@outlook.com",
          "mode": "list",
          "cachedResultName": "metasmile@outlook.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "id": "17228533-cbea-433c-882f-2e0372aa33df",
      "name": "Check Availability",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        180,
        380
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xB1LfN788YLz65un",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "metasmile@outlook.com",
          "mode": "list",
          "cachedResultName": "metasmile@outlook.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Use Central European Summer Time timezone`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Use Central European Summer Time timezone and from the service duration calculation`, 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"Purpose_of_Booking\",\"The purpose of the call, the formatted response should be [The Purpose of the visit is: Purpose_of_Booking]\") }}",
          "summary": "={{ $fromAI(\"Purpose\",\"The purpose of the call, the formatted response should be [Purpose]\") }} - {{ $fromAI(\"name\",\"The name of the person making the booking\") }}"
        }
      },
      "id": "f4c94c1a-babb-4e91-bf18-cb2481d9c67c",
      "name": "Creat event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        340,
        380
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xB1LfN788YLz65un",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a25b21c0-4dc1-4862-ba50-926427fc29da",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        180
      ],
      "id": "4df25e70-38bc-4d02-8bef-7b42ab3fa173",
      "name": "Webhook",
      "webhookId": "a25b21c0-4dc1-4862-ba50-926427fc29da"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        420,
        100
      ],
      "id": "d8c81201-323c-45a8-87b1-b8a2e0ed8e94",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Request: {{ $json.query.request }}\n\nUser Name: {{ $json.body.user_name }}\n\nBooking Service: {{ $json.body.booking_service }}\n\nService Duration: {{ $json.body.service_time }}\n\nTimezone is Central European Summer Time.",
        "options": {
          "systemMessage": "=The current date is: {{ new Date().toLocaleString(\"en-US\", { timeZone: \"Europe/Lisbon\" }) }} Central European Summer Time .\n\nCheck if the date that the user wanted is available in the Availability Tool. If its available then it will return available as true or false.\n\nFor example, the message to extract could look similar to \"Just to confirm, you would to make a tomorrow at 6 PM under the name Ali for Dinner. That correct?\"\n\nMake sure that you take the latest message response for the confirmed booking, if there are multiple confirmations of bookings in the message, choose the latest one.\n\nIf there is already a booking at the users wanted booking time and date, return with only the output \"Unavailable\". If there are currently no bookings at the time, return with only the output \"Available\"\n\nUse \"Create event\" to book the appointment when the slot is available.\n\nUse the service duration for setting the end time of the event."
        }
      },
      "id": "47c8ec71-3b88-44b5-9841-42e5902db7e2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -40,
        160
      ],
      "typeVersion": 1.7
    }
  ],
  "connections": {
    "Creat event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "59cc69e4-7a24-4e9e-bb05-f36ae663356c",
  "triggerCount": 1,
  "tags": []
}