fetch-booking-details-.json
{
  "createdAt": "2025-07-14T16:32:52.921Z",
  "updatedAt": "2025-07-14T16:36:07.000Z",
  "id": "2QLxplnsy6U4FeNd",
  "name": "Fetch Booking details",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "04596983-b92b-44bf-b049-b7c77e081a45",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1e6c288b-5c25-4c47-84a8-2afbd052e109",
      "name": "Webhook",
      "webhookId": "04596983-b92b-44bf-b049-b7c77e081a45"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Want to search the booking with booking details as follows:\n\nDate is `{{ $json.body.args.date }}`\nTime is `{{ $json.body.args.time }}`\nattendeeEmail is `{{ $json.body.args.user_number }}`\n",
        "options": {
          "systemMessage": "You are a helpful assistant, who searches appointments on cal.com platform API\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "4e8264fc-99e5-4588-ac8b-3fef216eba7b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ Date.now() + Math.floor(Math.random() * 10000);}}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        240
      ],
      "id": "3d455d1f-eb29-4c0d-99e6-22af4eeb6be7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        240
      ],
      "id": "400a528a-32b9-46a6-ac45-0f453892374a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z9tGwUwFTMTG2mbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        580,
        0
      ],
      "id": "d271bea7-d909-47ab-91d4-0cf39f92bd3b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "toolDescription": "Search for the booking number from the user input so that we can cancel the booking",
        "url": "https://api.cal.com/v2/bookings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "afterStart",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Filter bookings with start after this date string with the format as UTC using the date time provided`, 'string') }}"
            },
            {
              "name": "take",
              "value": "1"
            },
            {
              "name": "attendeeEmail",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `this is the attendee email`, 'string') }}"
            },
            {
              "name": "status",
              "value": "upcoming"
            },
            {
              "name": "beforeEnd",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `set this as +1 hour then the afterStart string of date format`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cal_live_1c583a016f243d92cced3cc0b22a2ea1"
            },
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        600,
        240
      ],
      "id": "c8acd12d-e353-4039-87a1-919b13cec692",
      "name": "Search booking"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "137f7154-4530-4c93-8661-e5baed1cad95",
  "triggerCount": 1,
  "tags": []
}