reschedule-a-booking-.json
{
  "createdAt": "2025-07-16T16:04:10.594Z",
  "updatedAt": "2025-07-16T16:59:29.000Z",
  "id": "uGqpUVlSkomoHYDP",
  "name": "Reschedule a booking",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Want to reschedule the booking with booking details as follows:\n\nDate is `{{ $json.body.args.appointment_new_date }}`\nTime is `{{ $json.body.args.appointment_new_time }}`\nattendeeEmail is `{{ $json.body.args.user_number }}`\nbooking_uid is `{{ $json.body.args.booking_uid }}`\n",
        "options": {
          "systemMessage": "You are a helpful assistant, who searches appointments on cal.com platform API\n\n\nFor the cal.com API call use the following details:\nEndpoint -> https://api.cal.com/v2/bookings/{booking_uid}/reschedule\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        -40
      ],
      "id": "f8a14f49-4088-4e8a-b430-ab436e99efee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ Date.now() + Math.floor(Math.random() * 10000);}}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        20,
        200
      ],
      "id": "17b078e9-e6f0-4515-8362-5a9ee4b66952",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        200
      ],
      "id": "bf90313d-fed7-4edf-89d4-c222278f1720",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z9tGwUwFTMTG2mbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        -40
      ],
      "id": "55afcd14-15a4-4a45-86cb-4b6532d0b520",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "558da690-33b7-43b6-b5a6-8a4bd4f1d5c3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        -40
      ],
      "id": "f8f0705a-0f94-462d-b886-1493f8e90dd0",
      "name": "Webhook",
      "webhookId": "558da690-33b7-43b6-b5a6-8a4bd4f1d5c3"
    },
    {
      "parameters": {
        "toolDescription": "Search for the booking number from the user input so that we can cancel the booking",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cal_live_1c583a016f243d92cced3cc0b22a2ea1"
            },
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Start date time in ISO 8601 format for the new booking\n\nExample:\n\"2024-08-13T10:00:00Z\"`, 'string') }}"
            },
            {
              "name": "rescheduledBy",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `For the email of the user please use {{user_number}}+customer@askaiagents.com as the email.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        420,
        200
      ],
      "id": "f68ff2cf-0e3b-451e-95d8-d3ffc0f2ca3d",
      "name": "Reschedule booking"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "87d0e3c9-ff50-4f4c-a8c8-7994a47b8e9b",
  "triggerCount": 1,
  "tags": []
}