searc-.json
{
  "createdAt": "2025-12-26T18:57:13.398Z",
  "updatedAt": "2025-12-26T19:20:26.000Z",
  "id": "4qsLEo0j7SgLZS1f",
  "name": "Searc",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "next-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        48
      ],
      "id": "1ac27132-65f5-42b7-b167-dca8aba7fbb8",
      "name": "Webhook",
      "webhookId": "eb64f736-26bd-4466-b68d-729de88b58ca"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Want to search for my next booking with user details as follows:\n\nattendeeEmail is `{{ $json.body.args.user_number }}`\n",
        "options": {
          "systemMessage": "You are a helpful assistant that retrieves the **next upcoming appointment**\nfrom the **cal.com API** and returns its details and status.\n\n---\n\n## 🎯 Objective\nFind the nearest future booking (based on start time) and report its details.\n\n---\n\n## 🔁 Workflow Logic\n\n### 1️⃣ Fetch Bookings\nMake a request to fetch all bookings.\n\n**Request**\n\n\n---\n\n### 2️⃣ Identify Next Appointment\n- Filter bookings where `startTime` is **greater than the current time**\n- Sort the filtered bookings by `startTime` in ascending order\n- Select the **first** booking (nearest upcoming)\n\n---\n\n### 3️⃣ Extract Required Fields\nFrom the selected booking, extract:\n- `uid`\n- `title`\n- `startTime`\n- `endTime`\n- `status`\n\n---\n\n## ✅ Success Criteria\n- If an upcoming booking exists, return its details\n- Use the `status` field to determine booking state:\n  - `confirmed`\n  - `cancelled`\n  - `pending`\n\n---\n\n## ❌ Failure Criteria\n- If no future bookings are found, return:\n```json\n{\n  \"message\": \"No upcoming appointments found\",\n  \"status\": \"empty\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        144,
        48
      ],
      "id": "9b9cf932-5704-4931-929e-82afdda69aa2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ Date.now() + Math.floor(Math.random() * 10000);}}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        288
      ],
      "id": "39f35a68-7864-40eb-9afb-312198c59dd8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        288
      ],
      "id": "4e48c76b-e078-4d11-88e5-e9566ea31b91",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z9tGwUwFTMTG2mbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        48
      ],
      "id": "fd57183b-7b82-4544-a719-569448923c46",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "toolDescription": "Search for the booking number from the user input so that we can cancel the booking",
        "url": "https://api.cal.com/v2/bookings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "afterStart",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Filter bookings with after current time`, 'string') }}"
            },
            {
              "name": "take",
              "value": "1"
            },
            {
              "name": "attendeeEmail",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `this is the attendee email`, 'string') }}"
            },
            {
              "name": "status",
              "value": "upcoming"
            },
            {
              "name": "beforeEnd",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `set this as +1 hour then the afterStart string of date format`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cal_live_1c583a016f243d92cced3cc0b22a2ea1"
            },
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        448,
        272
      ],
      "id": "b0c8d65a-1747-42f0-a811-1efe14ce47b1",
      "name": "Search booking"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1e0a0071-8976-4b39-ace2-c56cb47fb6e9",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-26T18:57:13.410Z",
      "updatedAt": "2025-12-26T18:57:13.410Z",
      "role": "workflow:owner",
      "workflowId": "4qsLEo0j7SgLZS1f",
      "projectId": "Z6BlTuoUTOQM01FP"
    }
  ],
  "tags": []
}