sync-contact-data-with-mailchimp-.json
{
  "createdAt": "2025-09-03T17:26:17.654Z",
  "updatedAt": "2025-09-09T17:19:37.000Z",
  "id": "S4AH072hNuJjJRoW",
  "name": "Sync contact data with mailchimp",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "sync-property-contact",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -64
      ],
      "id": "b8d01e79-43be-4af0-8cb1-a6edb6fd5f44",
      "name": "Webhook",
      "webhookId": "2ba1b436-ebbd-4888-abc1-d6ab94473001"
    },
    {
      "parameters": {
        "list": "ac3e522bbb",
        "email": "test",
        "status": "subscribed",
        "options": {}
      },
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        320,
        -64
      ],
      "id": "eaf5bc5c-b97e-4238-bdde-1bfdf9faade8",
      "name": "Create a member",
      "credentials": {
        "mailchimpApi": {
          "id": "XnPzQvwuSbZyHilP",
          "name": "Mailchimp account"
        }
      }
    },
    {
      "parameters": {
        "action": "find",
        "layout": "Property Contact",
        "limit": 1,
        "responseLayout": "*Property Occupant Contact",
        "queries": {
          "query": [
            {
              "fields": {
                "field": [
                  {
                    "name": "Property_ID",
                    "value": "={{ $json.query.recordID }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.filemaker",
      "typeVersion": 1,
      "position": [
        -256,
        -64
      ],
      "id": "04ef325b-2a0c-45fc-b882-7914d177f78b",
      "name": "FileMaker1",
      "credentials": {
        "fileMaker": {
          "id": "Y2ssJawBIauhCz3q",
          "name": "FileMaker account 3"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "FileMaker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FileMaker1": {
      "main": [
        [
          {
            "node": "Create a member",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "280d48b7-89dc-40ae-9086-785158908e52",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-03T17:26:17.666Z",
      "updatedAt": "2025-09-03T17:26:17.666Z",
      "role": "workflow:owner",
      "workflowId": "S4AH072hNuJjJRoW",
      "projectId": "Z6BlTuoUTOQM01FP"
    }
  ],
  "tags": []
}