telegram-+-11labs-booking-.json
{
  "createdAt": "2025-06-13T13:48:20.039Z",
  "updatedAt": "2025-07-22T16:54:36.000Z",
  "id": "nkDYK7iEb6buj89Q",
  "name": "Telegram + 11labs Booking",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9dbecd23-1aaf-4713-ad1f-83e438f94b2f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "aba8a9ec-7c89-46fb-8966-45d1796b6a72",
      "name": "Webhook",
      "webhookId": "9dbecd23-1aaf-4713-ad1f-83e438f94b2f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Input: \n```\n{{ $json.body.message.toolCalls[0].function.arguments.order_details.toString() }}\n```\n\nYou need to add the user input to the supabase create row tool by modifying it in such a way that its a markdown object which will passed to a POS printer device.",
        "options": {
          "systemMessage": "You are a POS order printer assistant. The user input will have a json object which will contain the print order details. You need to format it and convert into a printable simple markdown for a Sunmi printer device."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "b839817e-54a2-4536-ac25-440ec5199973",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        260
      ],
      "id": "258b8133-2e5f-46e1-8eb1-8c33654d50e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z9tGwUwFTMTG2mbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a row in Supabase",
        "tableId": "voice_ai_order_invoice",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        520,
        280
      ],
      "id": "af4fd0b6-ac77-4ed4-aa17-fd9eb8ca5842",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "PxTPPjBlmG95IexB",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "35f045d9-b3f0-49b2-b777-3d85480b20b3",
  "triggerCount": 1,
  "tags": []
}