vapi-voice-Content.json
{
  "createdAt": "2025-03-17T16:41:14.916Z",
  "updatedAt": "2025-03-25T16:56:09.000Z",
  "id": "yjoJLDa29WsAhp9e",
  "name": "Vapi Voice",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -560,
        660
      ],
      "id": "1c48302f-0f89-48d1-b8b8-a671c1cf602a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VQW5a5RxoMGI5sua",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.message.artifact.messagesOpenAIFormatted",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1200,
        360
      ],
      "id": "97d79d6b-8838-43b9-add3-a42b4b787774",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "role",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -740,
        360
      ],
      "id": "e90c816d-d048-4f13-b68f-5e83e3b53721",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        0,
        320
      ],
      "id": "1212322d-8e09-44d0-a361-dccf7b00ff33",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "VQW5a5RxoMGI5sua",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.role }}",
        "options": {
          "systemMessage": "=The current date is: {{ $now }}\n\nCheck if the date that the user wanted is available in the Availability Tool.\n\nFor example, the message to extract could look similar to \"Just to confirm, you would to make a tomorrow at 6 PM under the name Ali for Dinner. That correct?\"\n\nMake sure that you take the latest message response for the confirmed booking, if there are multiple confirmations of bookings in the message, choose the latest one.\n\nIf there is already a booking at the users wanted booking time and date, return with only the output \"Unavailable\". If there are currently no bookings at the time, return with only the output \"Available\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -560,
        360
      ],
      "id": "493b0713-c474-4675-bd04-b9920aa779d3",
      "name": "Check Availability"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "aiagentsinc@gmail.com",
          "mode": "id"
        },
        "timeMin": "={{ $fromAI(\"startTime\",\"start time of booking\") }}",
        "timeMax": "={{ $fromAI(\"endTime\",\"end time of booking, assume 2 hours after startTime\") }}",
        "options": {
          "outputFormat": "bookedSlots"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        -380,
        660
      ],
      "id": "d30227aa-b223-4e70-8d0f-c37b3beec529",
      "name": "Availability Tool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VOZZ5vJAU8kHP1sO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d80c682-fea4-4056-9733-b5ca4c9b529b",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Available",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8f61f93a-9069-4a3e-b8c3-ff647fa1cb10",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Output: Available",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        360
      ],
      "id": "70b08144-343e-468d-8b85-30a1dd2d36e0",
      "name": "If Available"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Aggregate').item.json.role }}",
        "options": {
          "systemMessage": "=Extract the start time, date and purpose of the booking, and the name for the booking. Make sure your response is \"I have successfully created the booking for [Persons Name] at [Time] on [Date] for [Reason for Booking], Ali looks forward to seeing you soon!\n\nMake sure to create the booking with the calender tool, and to also send an email so that we get a notification of the booking. And also call the CRM Manager Tool.\n\nMake sure to also extract the phone number of the user here, but do not mention it in your output message.: {{ $('createReservation').item.json.body.message.call.customer.number }}\n\nThe current date is: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        20,
        60
      ],
      "id": "9098d45b-3759-44aa-ab81-8eb45e1c90a4",
      "name": "Create Booking"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\":\"{{ $('createReservation').item.json.body.message.toolCallList[0].id }}\",\n            \"result\": \"{{ $json.output }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        60
      ],
      "id": "c992f48f-9fbc-4328-8b09-fa6c62ddeecb",
      "name": "End Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d343037f-da8f-4c7a-9733-903cf904bd04",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1780,
        380
      ],
      "id": "0cef758d-3c95-497a-acd6-6456e6b37ea6",
      "name": "createReservation",
      "webhookId": "d343037f-da8f-4c7a-9733-903cf904bd04"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f2d0f75-5bfa-4d8f-bf5f-542cbcc9a0ee",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "tool-calls",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1540,
        380
      ],
      "id": "d6f7bb6b-c31e-47cb-80af-f20a20f08998",
      "name": "If"
    },
    {
      "parameters": {
        "content": "Only Triggers Automation when Voice Agent uses Tool Call, and makes sure that the call is still in progress.",
        "height": 280,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1820,
        300
      ],
      "id": "1ea0b1d4-37e6-4a15-8d54-61d67bfd8319",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Grabs last 10 Messages from Transcript",
        "height": 280,
        "width": 200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -980,
        280
      ],
      "id": "d1b05daa-856b-4c01-9505-3afe5dd8adc1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=aiagentsinc@gmail.com",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"startTime\",\"the starting time of the booking\") }}",
        "end": "={{ $fromAI(\"endTime\",\"the end time of the booking, make it to be 2 hours after startTime\") }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"Purpose\",\"The purpose of the call, the formatted response should be [The Purpose of the Call Is: Purpose]\") }}",
          "summary": "={{ $fromAI(\"name\",\"The name of the person making the booking\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        300,
        300
      ],
      "id": "6ce867f5-278e-4b16-97ed-773b079a7a8e",
      "name": "Create Booking1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VOZZ5vJAU8kHP1sO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aiagentsinc@gmail.com",
        "subject": "={{ $fromAI(\"Subject\",\"Make this the purpose of the call and the person who booked it, keep it short and sweet\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"bookingDetails\",\"This should contain all the details for the booking (time, date and purpose) for an easy to read email format\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        180,
        320
      ],
      "id": "4e9b0a2c-d39d-49fe-9fa2-d688b82f38ae",
      "name": "Gmail",
      "webhookId": "354d63b3-6209-455c-a341-3342783efca7",
      "credentials": {
        "gmailOAuth2": {
          "id": "jat2IBkKd7vpZNkX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Returns a response to the user saying that the booking is not available at that time.",
        "height": 240,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        580
      ],
      "id": "ccbd3e72-f363-43bf-8429-c8ac322d638a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Notifies User in Calender, CRM and Email",
        "height": 200,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0b24db7e-24bc-4b12-a485-4c804b1b1658",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "maxItems": 10,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -940,
        360
      ],
      "id": "3e8465ca-57a7-46cc-9fa4-ae3f328657d4",
      "name": "Last 10 Messages"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\":\"{{ $('createReservation').item.json.body.message.toolCallList[0].id }}\",\n            \"result\": \"I'm sorry, but we don't have any available booking slots for that time, would you like to make another one?\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        640
      ],
      "id": "4d8b1091-7ad4-49f8-a9e4-b48d57d356bf",
      "name": "Not Available"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check Availability",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Last 10 Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create Booking",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "If Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Availability Tool": {
      "ai_tool": [
        [
          {
            "node": "Check Availability",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If Available": {
      "main": [
        [
          {
            "node": "Create Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking": {
      "main": [
        [
          {
            "node": "End Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createReservation": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking1": {
      "ai_tool": [
        [
          {
            "node": "Create Booking",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "Create Booking",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Last 10 Messages": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7e1775b9-3fb0-471e-aba5-6140647c1998",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-03-17T16:41:08.149Z",
      "updatedAt": "2025-03-17T16:41:08.149Z",
      "id": "I1t9fEUAEr7sIrrq",
      "name": "Content"
    },
    {
      "createdAt": "2025-03-17T16:41:08.164Z",
      "updatedAt": "2025-03-17T16:41:08.164Z",
      "id": "LYnGehi6kbpmIZqA",
      "name": "Youtube Video Inspo"
    }
  ]
}